In [1]:
import pandas as pd
import numpy as np

Load data

In [2]:
XLE = pd.read_csv("Data/XLE.csv",
                    delimiter=',')
XLE['Date'] = pd.to_datetime(XLE['Date'])
XLE.set_index('Date', inplace=True)

XLI = pd.read_csv("Data/XLI.csv",
                    delimiter=',')
XLI['Date'] = pd.to_datetime(XLI['Date'])
XLI.set_index('Date', inplace=True)

In [3]:
XLE.head()

            Closing_price
Date
2017-11-27          67.19
2017-11-28          67.71
2017-11-29          68.08
2017-11-30          69.10
2017-12-01          69.68

In [4]:
XLI.head()

            Closing_price
Date
2017-11-27          71.53
2017-11-28          72.62
2017-11-29          73.26
2017-11-30          74.51
2017-12-01          73.59

Calculate return in the upcoming year. Use the Capital Asset Pricing Model

In [5]:
beta_XLE = 1.07
beta_XLI = 1.06

Rf = 2.25/100
Rm = 9/100
sigma_market = 15/100

In [6]:
def E_Rp_CAPM(Rf, beta, Rm):
    result = Rf + beta * (Rm - Rf)
    return result

In [7]:
return_XLE = E_Rp_CAPM(Rf, beta_XLE, Rm)
return_XLE

0.094725

In [32]:
return_XLI = E_Rp_CAPM(Rf, beta_XLI, Rm)
return_XLI

0.09405

Calculate the daily and annualized standard deviation of return for the prior year. 
Assume 252 trading days in a year.

Calculate daily return:
$$ % Daily Return = Current Price - Previous Price $$

In [12]:
# Calculate daily return
XLE["Daily_Return"] = (XLE['Closing_price'].diff())/XLE["Closing_price"].shift(1)
XLE.dropna(inplace=True)
XLE.head()

            Closing_price  Daily_Return
Date
2017-11-28          67.71      0.007739
2017-11-29          68.08      0.005464
2017-11-30          69.10      0.014982
2017-12-01          69.68      0.008394
2017-12-04          69.65     -0.000431

In [13]:
XLI["Daily_Return"] = (XLI['Closing_price'].diff())/XLI["Closing_price"].shift(1)
XLI.dropna(inplace=True)
XLI.head()

            Closing_price  Daily_Return
Date
2017-11-28          72.62      0.015238
2017-11-29          73.26      0.008813
2017-11-30          74.51      0.017063
2017-12-01          73.59     -0.012347
2017-12-04          74.21      0.008425

In [21]:
daily_return_std_XLE = np.std(XLE['Daily_Return'])
daily_return_std_XLE

0.012715813020711784

In [22]:
daily_return_std_XLI = np.std(XLI['Daily_Return'])
daily_return_std_XLI

0.010704917010247762

In [23]:
np.sqrt(252) * std_XLE

0.20185727382480237

In [24]:
np.sqrt(252) * daily_return_std_XLI

0.16993528928820392

In [26]:
correlation_XLE_XLI = np.corrcoef(XLE['Daily_Return'].dropna(),
                                      XLI['Daily_Return'].dropna())[0][1]

In [27]:
correlation_XLE_XLI

0.6583199452866898